<div class="row m-t-30">
	<div class="col-md-12">
		<!-- DATA TABLE -->
		<div class="table-data__tool">
			<div class="table-data__tool-left">
				<button class="au-btn-filter">
					<i class="zmdi zmdi-filter-list"></i>filters
				</button>
			</div>
			<div class="table-data__tool-right">
				<button class="au-btn au-btn-icon au-btn--green au-btn--small">
					<i class="zmdi zmdi-plus"></i>add item
				</button>
			</div>
		</div>
		<div class="table-responsive m-b-40">
			<table class="table table-borderless table-data3">
				<thead>
				<tr>
					<th style="vertical-align: top">
						<label class="au-checkbox">
							<input type="checkbox">
							<span class="au-checkmark"></span>
						</label>
					</th>
					<th>Author</th>
					<th></th>
				</tr>
				</thead>
				<tbody *ngFor="let author of authors">
				<tr>
					<td>
						<label class="au-checkbox">
							<input type="checkbox">
							<span class="au-checkmark"></span>
						</label>
					</td>
					<td>{{author.firstName + ' ' + author.lastName}}</td>
					<td>
						<div class="table-data-feature">
							<button class="item" data-placement="top" data-toggle="tooltip" title="Edit">
								<i class="zmdi zmdi-edit"></i>
							</button>
							<button class="item"
							        data-placement="top"
							        data-toggle="tooltip"
							        title="Delete"
									(click)="deleteAuthor(author.authorId)">
								<i class="zmdi zmdi-delete"></i>
							</button>
						</div>
					</td>
				</tr>
				<tr class="spacer"></tr>
				</tbody>
			</table>
		</div>
		<!-- END DATA TABLE -->
	</div>
</div>