<div aria-hidden="true"
     aria-labelledby="createReviewLabel"
     class="modal fade"
     id="createReview"
     role="dialog"
     tabindex="-1"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<form (ngSubmit)="submit()" [formGroup]="form">
				<div class="modal-header">
					<h4 class="modal-title"
					    id="createReviewLabel">Leave Review For Book "<span class="ellipsis">{{book.name}}</span>"</h4>
				</div>
				<div class="modal-body">
					<div class="sub-title">Your Name</div>
					<div class="add-top-bottom-padding">
						<input class="form-control"
						       formControlName="commenterName"
						       type="text"
						>
					</div>
					<div class="sub-title">Leave Your Comment</div>
					<div class="add-top-bottom-padding">
						<textarea
								class="form-control"
								formControlName="comment"
								type="text"
						></textarea>
					</div>
					<div class="sub-title">Set Rating</div>
					<ngb-rating [max]="5" formControlName="rating">
						<ng-template let-fill="fill">
							<span class="star" [ngClass]="'color'"[class.filled]="fill === 100">&#9733;</span>
						</ng-template>
					</ngb-rating>
				</div>
				<div class="modal-footer">
					<button (click)="cancel()"
					        class="btn btn-default"
					        data-dismiss="modal"
					        id="createReviewModalCloseButton"
					        type="button"
					>Cancel
					</button>
					<button [disabled]="form.invalid"
					        class="btn btn-primary"
					        type="submit"
					>Save
					</button>
				</div>
			</form>
		</div>
	</div>
</div>