<div aria-hidden="true"
     aria-labelledby="updateAuthorLabel"
     class="modal fade"
     id="updateAuthor"
     role="dialog"
     tabindex="-1"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<form (ngSubmit)="submit()" [formGroup]="form">
				<div class="modal-header">
					<h4 class="modal-title"
					    id="updateAuthorLabel">Update Author</h4>
				</div>
				<div class="modal-body">
					<div class="sub-title">First Name</div>
					<div>
						<input [ngModel]="author.firstName"
						       class="form-control"
						       formControlName="firstName"
						       type="text"
						>
					</div>
					<div *ngIf="form.get('firstName').invalid && form.get('firstName').touched"
					     class="invalid-feedback">
						<small *ngIf="form.get('firstName').errors.required">
							Field can't be empty!
						</small>
						<small *ngIf="form.get('firstName').errors.pattern">
							Please, enter valid value!
						</small>
					</div>
					<div class="sub-title">Last Name</div>
					<div>
						<input [ngModel]="author.lastName"
						       class="form-control"
						       formControlName="lastName"
						       type="text">
					</div>
					<div *ngIf="form.get('lastName').invalid && form.get('lastName').touched"
					     class="invalid-feedback">
						<small *ngIf="form.get('lastName').errors.pattern">
							Please, enter valid value!
						</small>
					</div>
				</div>
				<div class="modal-footer">
					<button (click)="cancel()"
					        class="btn btn-default"
					        data-dismiss="modal"
					        id="updateAuthorModalCloseButton"
					        type="button"
					>Cancel
					</button>
					<button [disabled]="form.invalid"
					        class="btn btn-primary"
					        type="submit"
					>Update
					</button>
				</div>
			</form>
		</div>
	</div>
</div>