<th (click)="sort(sortableColumn)"
>
	<div>
		<label>{{sortableColumn.title}}</label>
		<button class="btn btn-default btn-sort">
			<span *ngIf="sortableColumn.direction != null; else sortNone">
	            <span *ngIf="sortableColumn.direction=='asc'; then sortAscending else sortDescending"></span>
	        </span>
		</button>
	</div>
</th>

<ng-template #sortNone>
	<i class="fa fa-unsorted"></i>
</ng-template>

<ng-template #sortDescending>
	<i class="fa fa-sort-down"></i>
</ng-template>

<ng-template #sortAscending>
	<i class="fa fa-sort-up"></i>
</ng-template>