<div class="panel-body panel-body-without-lr-padding">
	<form class="form-inline" (ngSubmit)="searchFilteredAuthor(filteredAuthor)" [formGroup]="authorFilteringForm">
		<span class="form-group add-top-bottom-padding">
			<label>First Name</label>
			<input [(ngModel)]="filteredAuthor.firstName"
			       class="form-control"
			       formControlName="firstName"
			       type="text">
		</span>
		<span class="form-group add-top-bottom-padding">
			<label>Last Name</label>
			<input [(ngModel)]="filteredAuthor.lastName"
			       class="form-control"
			       formControlName="lastName"
			       type="text">
		</span>
		<span class="form-group add-top-bottom-padding">
			<label>Rating from</label>
			<input [(ngModel)]="filteredAuthor.authorRating"
			       class="form-control form-control-for-numbers"
			       formControlName="authorRating"
			       type="number"
			       min="0.00" max="5.00" step="0.01"
			>
			<label>to</label>
			<input [(ngModel)]="filteredAuthor.authorRatingRange"
			       class="form-control form-control-for-numbers"
			       formControlName="authorRatingRange"
			       type="number"
			       [min]="filteredAuthor.authorRating" max="5.00" step="0.01"
			>
		</span>
		<span class="form-group add-top-bottom-padding pull-right">
			<button class="btn btn-header btn-primary" type="submit">Search</button>
			<button class="btn btn-default" (click)="reset()">Reset</button>
		</span>
	</form>
</div>