<div id="page-inner">
	<header class="header-padding">
		<h3>{{book.name}}</h3>
		<div>[{{book.bookRating}}]</div>
		<span *ngFor="let r of initStarsRating(book.bookRating)">
			<span *ngIf="r >= 0.5" class="fa fa-star checked"></span>
			<span *ngIf="r < 0.5 " class="fa fa-star"></span>
		</span>

		<div>votes [{{reviews.totalElements}}]</div>
	</header>

	<div class="row row-without-lr-margin">
		<div class="col-md-5 col-for-tab">
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#bookInfo" data-toggle="tab" (click)="tabBookInfoButtonVisible()">Book Info</a>
				</li>
				<li class="">
					<a href="#reviews" data-toggle="tab" (click)="tabReviewButtonVisible()">Reviews</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="row row-without-lr-margin">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading panel-heading-for-tab">
					<div id="bookInfoButton">
						<button (click)="getBookByIdWithAuthors(book.bookId)"
								class="btn btn-primary"
						        data-target="#updateBook"
						        data-toggle="modal"
						>Change Info</button>
					</div>
					<div id="addReviewButton">
						<button class="btn btn-primary"
						        data-target="#createReview"
						        data-toggle="modal"
						>Add Review</button>
					</div>
				</div>
				<div class="panel-body">
					<div class="tab-content">
						<div class="tab-pane fade active in" id="bookInfo">
							<div class="table-responsive">
								<table class="table table-striped">
									<tbody>
									<tr>
										<td class="font-bold">Year Published</td>
										<td>{{book.yearPublished}}</td>
									</tr>
									<tr>
										<td class="font-bold">ISBN</td>
										<td>{{book.isbn}}</td>
									</tr>
									<tr>
										<td class="font-bold">Publisher</td>
										<td>{{book.publisher}}</td>
									</tr>
									<tr>
										<td class="font-bold">Authors</td>
										<td>
											<div *ngFor="let author of book.authors">
												<p>{{author.firstName + ' ' + author.lastName}}</p>
											</div>
										</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>

						<div class="tab-pane fade" id="reviews">
							<div class="table-responsive">
								<table class="table table-striped">
									<tbody *ngFor="let review of reviews.content">
									<tr>
										<td>
											<span class="font-bold">{{review.commenterName}}</span>
											<span class="pull-right">
												<span *ngFor="let r of initStarsRating(review.rating)">
												<span *ngIf="r >= 0.5" class="fa fa-star checked"></span>
												<span *ngIf="r < 0.5 " class="fa fa-star"></span>
											</span>
											</span>
										</td>
									</tr>
									<tr>
										<td class="font-small review-ellipsis"
										>{{review.comment}}</td>
									</tr>
									</tbody>
								</table>
							</div>
							<div class="panel-footer">
								<div id="viewMoreReviews">
									<button [disabled]="requestOptions.pageSize >= reviews.totalElements"
									        (click)="setPageSize()"
									        class="btn btn-primary"
									>More Reviews</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<app-update-book
		[book]="book"
		(initParentPage)="getData()"
></app-update-book>

<app-create-review
		[book]="book"
		(initParentPage)="getData()"
></app-create-review>




