<div id="wrapper">
	<!-- MENU SIDEBAR-->
	<nav class="navbar navbar-default top-navbar" role="navigation">
		<div class="navbar-header">
			<a (click)="setTitle('Home')" [routerLink]="['/']" class="navbar-brand">
				<strong><i class="fa fa-book" style="margin-right: 10px"></i>Library</strong>
			</a>

		</div>
		<h1 class="text-center">{{title}}</h1>
	</nav>
	<!--/. NAV TOP  -->
	<nav class="navbar-default navbar-side" role="navigation">
		<div class="sidebar-collapse">
			<ul class="nav" id="main-menu">
				<li [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">
					<a (click)="setTitle('Home')" [routerLink]="['/']"><i class="fa fa-home"></i>Home</a>
				</li>
				<li routerLinkActive="active">
					<a (click)="setTitle('Authors')" [routerLink]="['/authors']"><i class="fa fa-male"></i>Authors</a>
				</li>
				<li routerLinkActive="active">
					<a (click)="setTitle('Books')" [routerLink]="['/books']"><i class="fa fa-book"></i>Books</a>
				</li>
			</ul>
		</div>
	</nav>
	<!-- /. NAV SIDE  -->

	<!-- PAGE CONTAINER-->
	<div id="page-wrapper">
		<div class="header page-header">
		</div>
		<router-outlet></router-outlet>
	</div>
	<!-- END PAGE CONTAINER-->
</div>