<div id="wrapper">
	<!-- MENU SIDEBAR-->
	<nav class="navbar navbar-default top-navbar" role="navigation">
		<div class="navbar-header">
			<a class="navbar-brand" [routerLink]="['/']" style="width: 160px" (click)="setTitle('Home')">
				<strong><i class="fa fa-book"></i>Library</strong>
			</a>

		</div>
		<h1 class="text-center">{{title}}</h1>
	</nav>
	<!--/. NAV TOP  -->
	<nav class="navbar-default navbar-side" role="navigation">
		<div class="sidebar-collapse">
			<ul class="nav" id="main-menu">
				<li [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">
					<a [routerLink]="['/']" (click)="setTitle('Home')"><i class="fa fa-home"></i>Home</a>
				</li>
				<li routerLinkActive="active">
					<a [routerLink]="['/authors']" (click)="setTitle('Authors')"><i class="fa fa-male"></i>Authors</a>
				</li>
				<li routerLinkActive="active">
					<a [routerLink]="['/books']" (click)="setTitle('Books')"><i class="fa fa-book"></i>Books</a>
				</li>
				<li routerLinkActive="active">
					<a [routerLink]="['/reviews']" (click)="setTitle('Reviews')"><i class="fa fa-comment"></i>Reviews</a>
				</li>
			</ul>
		</div>
	</nav>
	<!-- /. NAV SIDE  -->

	<!-- PAGE CONTAINER-->
	<div id="page-wrapper">
		<div class="header page-header">
		</div>
		<router-outlet></router-outlet>
	</div>
	<!-- END PAGE CONTAINER-->
</div>