<div id="wrapper">
	<!-- MENU SIDEBAR-->
	<nav class="navbar navbar-default top-navbar" role="navigation">
		<div class="navbar-header">
			<a class="navbar-brand" [routerLink]="['/']"><strong><i class="icon fa fa-book"></i> Book Library</strong></a>
		</div>

		<ul class="nav navbar-top-links navbar-right"></ul>
	</nav>
	<!--/. NAV TOP  -->
	<nav class="navbar-default navbar-side" role="navigation">
		<div class="sidebar-collapse">
			<ul class="nav" id="main-menu">

				<li [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">
					<a [routerLink]="['/']"><i class="fa fa-home"></i> Home</a>
				</li>
				<li routerLinkActive="active">
					<a [routerLink]="['/authors']"><i class="fa fa-male"></i> Authors</a>
				</li>
				<li routerLinkActive="active">
					<a [routerLink]="['/books']"><i class="fa fa-book"></i> Books</a>
				</li>

				<li routerLinkActive="active">
					<a [routerLink]="['/reviews']"><i class="fa fa-comment"></i> Responsive Tables</a>
				</li>
			</ul>

		</div>

	</nav>
	<!-- /. NAV SIDE  -->

	<!-- PAGE CONTAINER-->
	<router-outlet></router-outlet>
	<!-- END PAGE CONTAINER-->
</div>