<div class="panel-body panel-body-without-lr-padding">
	<form (ngSubmit)="searchFilteredBooks(requestOptions)" [formGroup]="bookFilteringForm" class="form-inline">
		<div>
			<span class="form-group add-top-bottom-padding">
				<label>Name</label>
				<input [(ngModel)]="requestOptions.filteredEntity.name"
				       class="form-control"
				       formControlName="name"
				       type="text">
			</span>
			<span class="form-group add-top-bottom-padding">
				<label>Authors</label>
				<input [(ngModel)]="requestOptions.filteredEntity.authorName"
				       class="form-control"
				       formControlName="authors"
				       type="text"
				>
			</span>
			<span class="form-group add-top-bottom-padding">
			<label>Rating from</label>
			<input [(ngModel)]="requestOptions.filteredEntity.ratingFrom"
			       class="form-control form-control-for-numbers"
			       formControlName="bookRatingFrom"
			       step="0.01"
			       type="number"
			       [max]="5">
			<label>to</label>
			<input [(ngModel)]="requestOptions.filteredEntity.ratingTo"
			       class="form-control form-control-for-numbers"
			       formControlName="bookRatingTo"
			       step="0.01"
			       type="number"
			       [min]="requestOptions.filteredEntity.ratingFrom">
			</span>
		</div>
		<div>
			<span class="form-group add-top-bottom-padding">
				<label>Year</label>
				<input [(ngModel)]="requestOptions.filteredEntity.year"
				       [max]="getCurrentYear()"
				       class="form-control form-control-for-numbers"
				       formControlName="yearPublished"
				       min="0" step="1" type="number"
				>

			</span>
			<span class="form-group add-top-bottom-padding">
				<label>ISBN</label>
				<input [(ngModel)]="requestOptions.filteredEntity.isbn"
				       class="form-control"
				       formControlName="isbn"
				       type="text">
			</span>
			<div class="form-group pull-right">
				<button class="btn btn-primary filter-button" type="submit">Search</button>
				<button (click)="reset()" class="btn btn-default filter-button">Reset</button>
			</div>
		</div>
	</form>
</div>