<mat-form-field class="example-full-width">
	<input type="text" placeholder="Select Users" aria-label="Select Users" matInput [matAutocomplete]="auto" [formControl]="authorControl" #userInput>
	<mat-hint>Enter text to find users by name</mat-hint>
</mat-form-field>

<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
	<mat-option *ngFor="let author of filteredAuthors | async" [value]="selectedAuthors">
		<div (click)="optionClicked($event, author)">
			<mat-checkbox
					[checked]="author.isChecked"
					(change)="toggleSelection(author)"
					(click)="$event.stopPropagation()">
				{{ author.firstName }} {{ author.lastName }}
			</mat-checkbox>
		</div>
	</mat-option>
</mat-autocomplete>

<br><br>

<label>Selected Authors:</label>
<mat-list dense>
	<mat-list-item *ngIf="selectedAuthors?.length === 0">(None)</mat-list-item>
	<mat-list-item *ngFor="let author of selectedAuthors">
		{{ author.firstName }} {{ author.lastName }}
	</mat-list-item>
</mat-list>