<div aria-hidden="true"
     aria-labelledby="updateBookLabel"
     class="modal fade"
     id="updateBook"
     role="dialog"
     tabindex="-1"
>
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<form (ngSubmit)="submit()" [formGroup]="form">
				<div class="modal-header">
					<h4 class="modal-title"
					    id="updateBookLabel">Update Book</h4>
				</div>
				<div class="modal-body">
					<div class="sub-title">Name</div>
					<div>
						<input [(ngModel)]="book.name"
						       class="form-control"
						       formControlName="name"
						       type="text"
						>
					</div>
					<div class="sub-title">Year Published</div>
					<div>
						<input [(ngModel)]="book.yearPublished"
						       class="form-control"
						       formControlName="yearPublished"
						       type="number"
						>
					</div>
					<div class="sub-title">ISBN</div>
					<div>
						<input [(ngModel)]="book.isbn"
						       class="form-control"
						       formControlName="isbn"
						       type="number"
						>
					</div>
				</div>
				<div class="modal-footer">
					<button (click)="cancel()"
					        class="btn btn-default"
					        data-dismiss="modal"
					        id="updateBookModalCloseButton"
					        type="button"
					>Cancel
					</button>
					<button [disabled]="form.invalid"
					        class="btn btn-primary"
					        type="submit"
					>Save
					</button>
				</div>
			</form>
		</div>
	</div>
</div>