input {
  &.ng-invalid.ng-touched {
    border: 1px solid red;
  }

  &.ng-valid.ng-touched {
    border: 1px solid green;
  }
}

.column-width-7{
  width: 7%;
}

.column-width-book{
  width: 20%;
}

.column-width-authors {
  width: 20%;
}

.column-width-publisher {
  width: 150px;
}

.column-width-actions {
  width: 90px;
}

.column-width-checkbox {
  width: 40px;
}

.column-width-rating {
  width: 110px;
}

.column-entity-padding {
  padding-left: 3%;
}

.panel-body-without-lr-padding {
  padding: 5px 0px 5px;
  user-select: none;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.col-md-12-without-lr-padding {
  position: relative;
  margin: 0;
  min-height: 1px;
  padding: 10px 0px 10px
}

.btn-group-sm > .btn, .btn-sort {
  padding: 5px 8px;
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
  border: none;
}