input {
  &.ng-invalid.ng-touched {
    border: 1px solid red;
  }

  &.ng-valid.ng-touched {
    border: 1px solid green;
  }
}

header h3 {
  margin-bottom: 10px;
}

.column-width-7{
  width: 7%;
}

.column-width-book{
  width: 20%;
}

.column-width-authors {
  width: 180px;
}

.column-width-publisher {
  width: 150px;
}

.column-width-actions {
  width: 90px;
}

.column-width-checkbox {
  width: 40px;
}

.column-width-rating {
  width: 110px;
}

.column-entity-padding {
  padding-left: 3%;
}

.header-padding {
  padding: 20px;
}

.panel-body-without-lr-padding {
  padding: 5px 0px 5px;
  user-select: none;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.col-md-12-without-lr-padding {
  position: relative;
  margin: 0;
  min-height: 1px;
  padding: 10px 0px 10px
}

.btn-sort {
  padding: 5px 8px;
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
  border: none;
}

.btn-sort.active, .btn-sort.focus, .btn-sort:active, .btn-sort:focus, .btn-sort:hover {
  color: #333;
  background-color: #fff;
  border-color: #fff
}

.add-top-bottom-padding {
  padding-top: 5px;
  padding-bottom: 5px;
}

.row-without-lr-margin {
  margin-right: 0px;
  margin-left: 0px;
}

#page-wrapper {
  min-height:520px;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: none;
  outline: none;
  outline-offset: 0px;
}

.panel-heading ~ .panel-body {
  min-height: 400px;
}

.panel-heading {
  min-height: 80px;
}

.panel-heading-for-tab {
  min-height: 10px;
}

.panel-heading-for-tab ~ .panel-body {
  min-height: 200px;
}

div > article {
  vertical-align: center;
  margin: 40px 50px;
}

.checked {
  color: orange;
}

.modal-content .fa-star:hover {
  color: orange;
}

.form-inline .form-control-for-numbers {
  width: 80px;
}

.panel-heading .btn-danger:disabled {
  color: black;
  filter: none;
  opacity: .85;
}

.btn-header {
  margin-right: 10px;
}

div.pager-container {
  position: relative
}

div.pager-container span.pager-element {
  position: absolute;
  top: 50%;
  transform: translate(0, 20%)
}

.col-for-tab {
  padding-bottom: 0;
}

.col-for-button {
  padding: 5px;
}

.margin-for-button {
  margin: 0px 5px;
}

table p {
  font-size: inherit;
  margin: 0;
  padding: 0;
}

.font-bold {
  font-weight: bold;
}

.font-small {
  font-size: small;
}

.ellipsis {
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.review-ellipsis {
  max-width: 200px;
  max-height: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre;
}

.filter-button {
  height: 34px;
  width: 70px;
}

div[class="modal-body"] textarea {
  resize: vertical;
}

.table-home-page > tbody > tr > td, .table-home-page > tbody > tr > th, .table-home-page > tfoot > tr > td, .table-home-page > tfoot > tr > th, .table-home-page > thead > tr > td, .table-home-page > thead > tr > th {
  height: 60px;
  vertical-align: middle;
  font-weight: bold;
}

.tab-font {
  font-size: medium;
}

.example-chip-list {
  width: 100%;
}



/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

/* Start Material Overrides */
.cdk-overlay-container {
  z-index: 3000;
}

// .mat-form-field-appearance-legacy .mat-form-field-label {
//   position: relative;
//   top: -10px;
// }

.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #fff;
  border: 2px solid #000;
}

.mat-checkbox:not(.mat-checkbox-disabled).mat-accent
.mat-checkbox-ripple
.mat-ripple-element {
  background-color: transparent;
}

.mat-checkbox-checkmark-path {
  stroke: #000 !important;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: rgba(0, 0, 0, 0.54);
}
/* End Material Overrides */
