<div id="page-inner">
	<div class="row row-without-lr-margin">
		<div class="col-md-12 col-md-12-page-content">
			<div class="panel panel-default">
				<div class="panel-heading">
					Welcome To Our Library!
				</div>
				<div class="panel-body">
					<ul class="nav nav-tabs">
						<li class="active">
							<a href="#authorsByRating" data-toggle="tab">Authors By Rating</a>
						</li>
						<li class="">
							<a href="#booksByRating" data-toggle="tab">Books By Rating</a>
						</li>
					</ul>

					<div class="tab-content">
						<div class="tab-pane fade active in" id="authorsByRating">
							<article>
								<div class="pull-left">
									Authors with 5 star
								</div>
								<div class="text-center">
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="pull-right">[10]</span>
								</div>
							</article>
							<article>
								<div class="pull-left">
									Authors with 4 star
								</div>
								<div class="text-center">
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star"></span>
									<span class="pull-right">[15]</span>
								</div>
							</article>
							<article>
								<div class="pull-left">
									Authors with 3 star
								</div>
								<div class="text-center">
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="pull-right">[5]</span>
								</div>
							</article>
							<article>
								<div class="pull-left">
									Authors with 2 star
								</div>
								<div class="text-center">
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="pull-right">[2]</span>
								</div>
							</article>
							<article>
								<div class="pull-left">
									Authors with 1 star
								</div>
								<div class="text-center">
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="pull-right">[2]</span>
								</div>
							</article>
						</div>
						<div class="tab-pane fade" id="booksByRating">
							<article>
								<div class="pull-left">
									Books with 5 star
								</div>
								<div class="text-center">
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="pull-right">[10]</span>
								</div>
							</article>
							<article>
								<div class="pull-left">
									Books with 4 star
								</div>
								<div class="text-center">
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star"></span>
									<span class="pull-right">[15]</span>
								</div>
							</article>
							<article>
								<div class="pull-left">
									Books with 3 star
								</div>
								<div class="text-center">
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="pull-right">[5]</span>
								</div>
							</article>
							<article>
								<div class="pull-left">
									Books with 2 star
								</div>
								<div class="text-center">
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="pull-right">[2]</span>
								</div>
							</article>
							<article>
								<div class="pull-left">
									Books with 1 star
								</div>
								<div class="text-center">
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="pull-right">[2]</span>
								</div>
							</article>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>