<div class="pager-container" *ngIf="requestOptions">
	<div class="dropdown">
		<div>
			<span class="form-control-sm input-sm">
			{{requestOptions.pageSize}}
				<i class="fa fa-caret-down"></i>
			</span>
		</div>
		<div class="dropdown-content">
			<a (click)="updatePageSize(5)" [routerLink]="" class="list-group-item">5</a>
			<a (click)="updatePageSize(10)" [routerLink]="" class="list-group-item">10</a>
			<a (click)="updatePageSize(25)" [routerLink]="" class="list-group-item">25</a>
		</div>
	</div>
	<span class="text-muted pager-element">records per page</span>

	<div class="pull-right">
		<span class="text-muted text-center">
            Showing {{requestOptions.numberOfFirstPageElement}} to {{requestOptions.numberOfElements}}
			of {{requestOptions.totalElements}} entries
        </span>
		<div class="btn-group">
			<button (click)="updatePageNumber(0)"
			        [ngClass]="{'disabled': requestOptions.first }" [routerLink]=""
			        class="btn btn-sm"
			>
				<i class="fa fa-angle-double-left"></i>
			</button>
			<button (click)="previousPage()"
			        [ngClass]="{'disabled': requestOptions.first }" [routerLink]=""
			        class="btn btn-sm">
				<i class="fa fa-angle-left"></i>
			</button>
			<button (click)="nextPage()"
			        [ngClass]="{'disabled': requestOptions.last }" [routerLink]=""
			        class="btn btn-sm">
				<i class="fa fa-angle-right"></i>
			</button>
			<button (click)="updatePageNumber(requestOptions.totalPages-1)"
			        [ngClass]="{'disabled': requestOptions.last }" [routerLink]=""
			        class="btn btn-sm">
				<i class="fa fa-angle-double-right"></i>
			</button>
		</div>
	</div>
</div>