<div class="modal fade"
     id="createAuthor"
     tabindex="-1"
     role="dialog"
     aria-labelledby="createAuthorLabel"
     aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form [formGroup]="form" (ngSubmit)="submit()">
				<div class="modal-header">
					<h4 class="modal-title"
					    id="createAuthorLabel">Please, create new Author!</h4>
				</div>
				<div class="modal-body">
					<div class="sub-title">Author's first name</div>
					<div>
						<input type="text"
						       class="form-control"
						       placeholder="First name"
						       formControlName="firstName"
						>
					</div>
					<div class="invalid-feedback" *ngIf="form.get('firstName')?.invalid && form.get('firstName')?.touched">
						<small *ngIf="form.get('firstName')?.errors?.required">
							Field can't be empty
						</small>
						<small></small>
					</div>
					<div class="sub-title">Author's last name</div>
					<div>
						<input type="text"
						       class="form-control"
						       placeholder="Last name"
						       formControlName="lastName">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="submit"
					        class="btn btn-primary"
					        [disabled]="form.invalid"
					        (click)="submit()"
					        data-toggle="modal"
					        data-target="#createAuthorConfirmation"
					>Save</button>
				</div>
			</form>
		</div>
	</div>
</div>
