<div id="page-inner">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row p-2">
						<div class="col-6">
							<button class="btn btn-success btn-header"
							        data-target="#createAuthor"
							        data-toggle="modal"> + Add Author
							</button>
							<button class="btn btn-danger btn-header"
							        data-target="#bulkDeleteAuthorsConfirmation"
							        data-toggle="modal"> Delete Authors
							</button>
							<button class="btn btn-primary collapsed"
							        data-parent="#accordion"
							        data-toggle="collapse"
							        href="#collapseOne"
							        id="accordion"
							>
								<i class="fa fa-filter"></i>
								Filters
							</button>
						</div>
					</div>
					<div class="col-md-12 col-md-12-without-lr-padding">
						<div class="panel-collapse collapse" id="collapseOne" style="height: 0px;">
							<div class="panel-body panel-body-without-lr-padding">
								<form class="form-inline">
									<div class="form-group">
										<label for="inputFilter1">First Name</label>
										<input class="form-control" id="inputFilter1" type="text">
									</div>
									<div class="form-group">
										<label for="inputFilter2">Last Name</label>
										<input class="form-control" id="inputFilter2" type="text">
									</div>
									<div class="form-group">
										<label for="inputFilter3">Rating</label>
										<input class="form-control" id="inputFilter3" type="text">
									</div>
									<div class="form-group">
										<button class="btn btn-header btn-primary" type="submit">Search</button>
										<button class="btn btn-default" type="submit">Reset</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-12">
					<app-pagination
							(nextPageEvent)="getNextPage()"
							(pageNumberEvent)="getPageNewNumber($event)"
							(pageSizeEvent)="getPageInNewSize($event)"
							(previousPageEvent)="getPreviousPage()"
							[requestOptions]="requestOptions"
					>
					</app-pagination>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="table-responsive">
							<table class="table table-striped table-bordered">
								<thead>
								<tr>
									<th class="text-center column-width-checkbox" scope="col">
										<div class="custom-control checkbox-check">
											<input class="custom-control-input"
											       type="checkbox"
											       (change)="setCheckForAll()"
											       [(ngModel)]="isAllChecked">
										</div>
									</th>
									<th class="text-center"
									    scope="col">
										<app-sortable-column-header
												(sortEvent)="sort($event)"
												[sortableColumn]="sortableColumns[0]">
										</app-sortable-column-header>
									</th>
									<th class="text-center"
									    scope="col">
										<app-sortable-column-header
												(sortEvent)="sort($event)"
												[sortableColumn]="sortableColumns[1]">
										</app-sortable-column-header>
									</th>
									<th class="text-center column-width-rating"
									    scope="col">
										<app-sortable-column-header
												(sortEvent)="sort($event)"
												[sortableColumn]="sortableColumns[2]">
										</app-sortable-column-header>
									</th>
									<th class="text-center column-width-actions" scope="col"></th>
								</tr>
								</thead>
								<tbody *ngFor="let author of page.content">
								<tr>
									<th class="text-center" scope="row">
										<div class="custom-control checkbox-check">
											<input class="custom-control-input"
											       type="checkbox"
											       [(ngModel)]="author.isChecked"
											>
										</div>
									</th>
									<td class="column-entity-padding">{{ author.firstName}}</td>
									<td class="column-entity-padding">{{ author.lastName}}</td>
									<td class="text-center">{{author.authorRating.toFixed(2)}}</td>
									<td class="text-center">
										<button (click)="getAuthorById(author.authorId)"
										        class="btn btn-primary btn-sm"
										        data-target="#updateAuthor"
										        data-toggle="modal"
										>
											<i class="fa fa-edit "></i>
										</button>
										<button (click)="getAuthorById(author.authorId)"
										        class="btn btn-danger btn-sm"
										        data-target="#deleteAuthorConfirmation"
										        data-toggle="modal"
										><i class="fa fa-trash-o"></i>
										</button>
									</td>
								</tr>
								</tbody>
							</table>
							<hr class="my-no w-100">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div aria-hidden="true"
     class="modal fade"
     id="deleteAuthorConfirmation"
     role="dialog"
     tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<h4>Are you sure that you want to delete {{author.firstName + ' ' + author.lastName}} ?</h4>
			</div>
			<div class="modal-footer">
				<button class="btn btn-default"
				        data-dismiss="modal"
				        type="button">Cancel
				</button>
				<button (click)="deleteAuthor(author.authorId)"
				        class="btn btn-danger"
				        data-dismiss="modal"
				        type="submit"
				>Delete
				</button>
			</div>
		</div>
	</div>
</div>

<div aria-hidden="true"
     class="modal fade"
     id="bulkDeleteAuthorsConfirmation"
     role="dialog"
     tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<h4>Are you sure that you want to delete :
					<div *ngFor="let delAuthor of page.content">
						<p *ngIf="delAuthor.isChecked">{{delAuthor.firstName + ' ' + delAuthor.lastName}}</p>
					</div>
					?
				</h4>
			</div>
			<div class="modal-footer">
				<button class="btn btn-default"
				        data-dismiss="modal"
				        type="button">Cancel
				</button>
				<button (click)="bulkDeleteAuthors()"
				        class="btn btn-danger"
				        data-dismiss="modal"
				        type="submit"
				>Delete
				</button>
			</div>
		</div>
	</div>
</div>

<app-create-author
		(initParentPage)="getData()"
></app-create-author>

<app-update-author
		[author]="author"
		(initParentPage)="getData()"
></app-update-author>