<div class="panel-body panel-body-without-lr-padding">
	<form (ngSubmit)="searchFilteredAuthors(requestOptions)" [formGroup]="authorFilteringForm" class="form-inline row">
		<div class="col-md-8 pull-left">
			<span class="form-group add-top-bottom-padding">
				<label>Name</label>
				<input [(ngModel)]="requestOptions.filteredEntity.name"
				       class="form-control"
				       formControlName="name"
				       type="text">
			</span>
			<span class="form-group add-top-bottom-padding">
				<label>Rating from</label>
				<input [(ngModel)]="requestOptions.filteredEntity.ratingFrom"
				       class="form-control form-control-for-numbers"
				       formControlName="authorRatingFrom"
				       max="5.00"
				       min="0.00" step="0.01" type="number"
				>
				<label>to</label>
				<input [(ngModel)]="requestOptions.filteredEntity.ratingTo"
				       [min]="requestOptions.filteredEntity.ratingTo"
				       class="form-control form-control-for-numbers"
				       formControlName="authorRatingTo"
				       max="5.00" step="0.01" type="number"
				>
			</span>
		</div>
		<div class="form-group add-top-bottom-padding col-md-3">
			<button class="btn btn-primary filter-button margin-for-button" type="submit">Search</button>
			<button (click)="reset()" class="btn btn-default filter-button margin-for-button">Reset</button>
		</div>
	</form>
</div>