<div class="panel-body panel-body-without-lr-padding">
	<form class="form-inline row" (ngSubmit)="searchFilteredAuthors(authorFilter)" [formGroup]="authorFilteringForm">
		<div class="col-md-8 pull-left">
			<span class="form-group add-top-bottom-padding">
				<label>Name</label>
				<input [(ngModel)]="authorFilter.name"
				       class="form-control"
				       formControlName="name"
				       type="text">
			</span>
			<span class="form-group add-top-bottom-padding">
				<label>Rating from</label>
				<input [(ngModel)]="authorFilter.authorRatingFrom"
				       class="form-control form-control-for-numbers"
				       formControlName="authorRatingFrom"
				       type="number"
				       min="0.00" max="5.00" step="0.01"
				>
				<label>to</label>
				<input [(ngModel)]="authorFilter.authorRatingTo"
				       class="form-control form-control-for-numbers"
				       formControlName="authorRatingTo"
				       type="number"
				       [min]="authorFilter.authorRatingTo" max="5.00" step="0.01"
				>
			</span>
		</div>
		<div class="form-group add-top-bottom-padding col-md-3">
			<button class="btn btn-primary filter-button margin-for-button" type="submit">Search</button>
			<button class="btn btn-default filter-button margin-for-button" (click)="reset()">Reset</button>
		</div>
	</form>
</div>