<div class="panel-body panel-body-without-lr-padding">
	<form (ngSubmit)="searchFilteredAuthors(requestOptions)" [formGroup]="authorFilteringForm" class="form-inline">
		<div>

		</div>
		<div class="form-inline add-top-bottom-padding">
			<span class="form-group">
				<label class="rating">Name</label>
				<input [(ngModel)]="requestOptions.filteredEntity.name"
				       class="form-control rating-column"
				       formControlName="name"
				       type="text">
			</span>
			<label class="rating">Rating from</label>
			<div class="form-group">
				<div>
					<ngb-rating (click)="setRatingFrom()"
					            [max]="5" formControlName="authorRatingFrom">
						<ng-template let-fill="fill">
							<span class="star" [ngClass]="'color'"[class.filled]="fill === 100">&#9733;</span>
						</ng-template>
					</ngb-rating>
				</div>
				<div>
					<input [(ngModel)]="requestOptions.filteredEntity.ratingFrom"
					       class="form-control form-control-for-numbers"
					       formControlName="authorRatingFrom"
					       step="0.01"
					       type="number"
					       [max]="5">
				</div>
			</div>
			<label class="rating">to</label>
			<div class="form-group">
				<div>
					<ngb-rating (click)="setRatingTo()"
					            [max]="5" formControlName="authorRatingTo">
						<ng-template let-fill="fill">
							<span class="star" [ngClass]="'color'"[class.filled]="fill === 100">&#9733;</span>
						</ng-template>
					</ngb-rating>
				</div>
				<div>
					<input [(ngModel)]="requestOptions.filteredEntity.ratingTo"
					       class="form-control form-control-for-numbers"
					       formControlName="authorRatingTo"
					       step="0.01"
					       type="number"
					       [min]="requestOptions.filteredEntity.ratingFrom">
				</div>
			</div>
			<div class="form-group pull-right">
				<button class="btn btn-primary filter-button " type="submit">Search</button>
				<button (click)="reset()" class="btn btn-default filter-button">Reset</button>
			</div>
		</div>
	</form>
</div>